@model IEnumerable<MVC.DTOs.CategoryDto>


<h1>Kategoriler</h1>

<a class="btn btn-primary mb-3">Kategori Ekle</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
    }
    </tbody>

</table>

